@import url("colors.css");

/* ===== GLOBAL ===== */
* {
  padding: 0;
  margin: 0;
  min-height: 0;
  border-radius: 0;
  border: none;
  text-shadow: none;
  transition: none;
  box-shadow: none;
}

window#waybar {
  color: @fg1;
  background: none;
  font-family: my-queue;
  font-size: 12pt;
  font-weight: 900;
}

.modules-left,
.modules-center,
.modules-right {
  padding: 3pt;
  background: @bg0;
}

/* ===== COMMON PADDING ===== */
#custom-launcher,
#window,
#disk,
#cpu,
#custom-cpu_temp,
#custom-cpu_temp.critical,
#backlight,
#custom-memory,
#pulseaudio,
#pulseaudio.muted,
#battery,
#battery.critical,
#battery.warning,
#network,
#clock {
  padding-right: 6pt;
}

/* ===== MODULES ===== */
#custom-launcher {
  color: @bg0_hard;
  border: 2pt solid @blue;
  background: @blue_bright;
  padding: 0pt 6pt;
}

/* ===== WORKSPACES ===== */
#workspaces button {
  color: @fg1;
  background: @bg0;
  border: 2pt solid @fg1;
  margin-right: 3pt;
  min-width: 15pt;
  padding: 0 3.75pt;
}

#workspaces button:last-child {
  margin-right: 0;
}

#workspaces button:hover {
  color: @bg0_hard;
  background: @purple_bright;
  border-color: @purple;
}

#workspaces button.visible,
#workspaces button.visible:hover {
  color: @bg0_hard;
  border-color: @aqua;
  background: @aqua_bright;
}

#workspaces button.urgent {
  color: @bg0_hard;
  border-color: @red;
  background: @red_bright;
}

/* ===== INDIVIDUAL MODULE STYLES ===== */
#window {
  border: 2pt solid @purple_bright;
}

#tray {
  border: 2pt solid @orange_bright;
  padding: 0 6pt;
}

#disk {
  border: 2pt solid @aqua_bright;
}

#cpu {
  border: 2pt solid @orange_bright;
}

#custom-cpu_temp {
  border: 2pt solid @yellow_bright;
}

#custom-cpu_temp.critical {
  color: @red_bright;
  border: 2pt solid @red_bright;
}

#custom-cpu_temp.unknown {
  border: 2pt solid @gray;
}

#backlight {
  border: 2pt solid @yellow_bright;
}

#custom-memory {
  border: 2pt solid @blue;
}

#pulseaudio {
  border: 2pt solid @blue_bright;
}

#pulseaudio.muted {
  border: 2pt solid @red;
  color: @red;
}

#battery {
  border: 2pt solid @aqua_bright;
}

#battery.critical {
  border: 2pt solid @red_bright;
}

#battery.warning {
  border: 2pt solid @orange_bright;
}

#clock {
  border: 2pt solid @aqua_bright;
}

#network {
  border: 2pt solid @purple_bright;
}

#network.disconnected {
  border: 2pt solid @red;
}

#mode {
  color: @blue_bright;
  border: 2pt solid @blue_bright;
  padding: 0 7.5pt;
}

/* ===== TOOLTIP ===== */
tooltip {
  background: @bg0;
  border: 1pt solid @bg0_hard;
}

tooltip label {
  color: @fg1;
}
