/* --------------
   Core Behavior
   -------------- */
configuration {
  threads: 0;
  case-sensitive: false;
  normalize-match: true;
  cycle: true;
  scroll-method: 1;
  show-icons: true;
  no-lazy-grab: true;

  /* ---------------
     Modes & Labels
     --------------- */
  modi: "calc,Clipboard:~/.bin/cliphist-rofi.sh,drun,power-menu:rofi-power-menu";
  display-calc: "Calculator";

  /* --------------
     Window/Layout
     -------------- */
  location: 0;
  sidebar-mode: true;
  hover-select: true;
  eh: 1;
  terminal: "kitty";
}

@theme "~/.config/rofi/themes/grimm.rasi"
