@import "~/.config/rofi/themes/colors.rasi"

* {
  margin : 0;
  padding : 0;
  spacing : 0;
  highlight : underline bold @blue;
  font : "my-queue ExtraBold 13";
  text-color : @fg1;
}

configuration {
  display-drun : "APPS";
  display-run : "CMD";
  display-window : "WIN";
}

window {
  width : 32%;
  location : northwest;
  x-offset : 10px;
  y-offset : 10px;
  border : 2px;
  border-color : @blue;
  background-color : @bg0;
  padding : 8px;
  orientation : vertical;
  children : [inputbar, message, listview];
}

inputbar {
  padding : 6px 8px;
  border : 1px;
  border-color : @bg2;
  background-color : @bg1;
  children : [prompt,entry];
}

prompt {
  margin : 0 8px 0 0;
  text-color : @blue-bright;
  background-color : @bg1;
}

entry {
  text-color : @fg1;
  background-color : @bg1;
}

listview {
  lines : 8;
  spacing : 2px;
  children : [element];
  margin : 8px 0 0 0;
  padding : 0;
  border : 0;
  background-color : @bg0;
}

element {
  padding : 7px 8px;
  background-color : @bg0;
}

element selected {
  background-color : @bg2;
}

element-text {
  padding : 0;
  text-color : @fg1;
  background-color : @bg0;
}

element-text selected {
  text-color : @fg0;
  background-color : @bg2;
}

element-icon{
  size : 24px;
  padding : 0 8px 0 0;
  background-color : @bg0;
}

element-icon selected {
  background-color : @bg2;
}

message {
  margin : 8px 0 0 0;
  expand : true;
  background-color : @bg0;
  children : [textbox];
}

textbox {
  expand : true;
  padding : 0;
  border-color : @bg2;
  background-color : @bg0;
  text-color : @fg3;
}

error-message {
  expand : true;
  text-color : @red-bright;
}
