@import "~/.config/rofi/themes/colors.rasi"

* {
  margin : 0;
  padding : 0;
  spacing : 0;
  transparent : #00000000;
  font : "my-queue ExtraBold 22";
  text-color : @bg0-hard;
}

window {
  width : 53%;
  location : center;
  children : [listview];
  padding : 0;
  background-color : @transparent;
  border-color : @transparent;
}

listview {
  lines : 1;
  columns : 5;
  margin : 0;
  padding : 5;
  background-color : @aqua-bright;
  border : 8;
  border-color : @bg0-hard;
  cycle : false;
}

element {
  background-color : @bg0-hard;
  padding : 3;
  border : 4;
  border-color : @bg0-hard;
  margin : 4 4;
}

element-text {
  text-color : @bg0-hard;
  padding : 8 0;
  margin : 0;
  background-color : @yellow-bright;
  vertical-align : 0.5;
  horizontal-align : 0.5;
  border-color : @bg0-hard;
}

element-text selected {
  border-color : @bg0-hard;
  margin : 0;
  background-color : @red-bright;
}
