@import "~/.config/rofi/themes/colors.rasi"

* {
  margin : 0;
  padding : 0;
  spacing : 0;
  transparent : #00000000;
  font : "my-queue ExtraBold 18";
  text-color : @fg1;
}

window {
  width : 42%;
  location : center;
  children : [listview];
  padding : 0;
  background-color : @transparent;
  border-color : @transparent;
}

listview {
  lines : 1;
  columns : 5;
  spacing : 4px;
  margin : 0;
  padding : 8px;
  background-color : @bg0;
  border : 2px;
  border-color : @bg2;
  cycle : false;
}

element {
  background-color : @bg1;
  padding : 10px 8px;
  border : 1px;
  border-color : @bg2;
  margin : 0;
}

element-text {
  text-color : @fg1;
  padding : 8px 0;
  margin : 0;
  background-color : @bg1;
  vertical-align : 0.5;
  horizontal-align : 0.5;
}

element-text selected {
  margin : 0;
  text-color : @fg0;
  background-color : @bg2;
}
